---
import Layout from "../layouts/Layout.astro";
import Header from "../components/react-header/Header.jsx";
import HeroSection from "../components/HeroSection.astro";
import JenisSection from "../components/JenisSection.astro";
import SebaranSection from "../components/SebaranSection.astro";
import FooterSection from "../components/FooterSection.astro";
---

<Layout title="Beasiswa NTB">
  <div class="bg-white">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <Header client:load />
    </div>
  </div>
  <HeroSection />
  <JenisSection />
  <SebaranSection />
  <FooterSection />
</Layout>
