---
import Header from "../../components/react-header/Header";
import Layout from "../../layouts/Layout.astro";
import FooterSection from "../../components/FooterSection.astro";
---

<Layout title="Jenis Beasiswa NTB">
  <div class="bg-white border">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <Header client:load />
    </div>
  </div>
  <div class="bg-white">
    <div class="flex bg-blue-900 justify-center py-5 relative overflow-hidden">
      <img
        src="/sprinkle1.svg"
        alt="background"
        class="absolute w-full -top-2"
      />
      <div class="italic font-bold text-center text-white text-xl relative">
        Persyaratan Umum Beasiswa NTB
      </div>
    </div>
  </div>
  <div class="bg-white lg:pt-20 py-10">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <div class="grid md:grid-cols-2 gap-8 lg:gap-12">
        <div>
          <div
            class="h-64 md:h-auto bg-gray-100 overflow-hidden rounded-lg shadow-lg"
          >
            <img
              src="/persyaratan-beasiswa.jpg"
              loading="lazy"
              alt="Photo by Martin Sanchez"
              class="w-full h-full object-cover object-center"
            />
          </div>
        </div>

        <div class="md:pt-8">
          <p class="text-indigo-500 font-bold text-center md:text-left">
            Persyaratan Umum
          </p>

          <h1
            class="text-gray-800 text-2xl sm:text-3xl font-bold text-center md:text-left mb-4 md:mb-6"
          >
            Beasiswa NTB Umum
          </h1>

          <ol class="text-gray-500 list-decimal block pl-[19px]">
            <li>
              Memiliki KTP NTB, atau berdomisili paling kurang 2 (dua) tahun di
              NTB, atau Diaspora NTB yang dibuktikan dengan surat pernyataan
              keluarga yang adalah penduduk NTB (Khusus untuk Beasiswa Kategori
              B)
            </li>
            <li>Ijazah dan Transkrip Nilai Terakhir (Legalisir)</li>
            <li>
              Surat Rekomendasi dari Dosen, Institusi, atau Tokoh Masyarakat
            </li>
            <li>
              Sertifikat Bahasa, Skor/Band minimal :<br />
              <ol class="list-disc pl-[19px]">
                <li>TOEFL ITP : 450</li>
                <li>IELTS : 5.0</li>
                <li>TOEIC : 600</li>
                <li>TOEFL IBT : 50</li>
              </ol>
            </li>
            <li>Curriculum Vitae (dalam bahasa inggris)</li>
            <li>Study Plan (dalam bahasa inggris, maksimal satu halaman)</li>
            <li>
              Motivation Letter (dalam bahasa inggris, maksimal satu halaman)
            </li>
            <li>Surat Keterangan Sehat dari Puskesmas atau Rumah Sakit</li>
            <li>
              Jika sudah mendapatkan gelar S2, tidak boleh mendaftar untuk
              jenjang pendidikan yang sama
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white lg:pt-20 py-10 pb-20">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <div class="grid md:grid-cols-2 gap-8 lg:gap-12">
        <div class="order-1 sm:order-2">
          <div
            class="h-64 md:h-auto bg-gray-100 overflow-hidden rounded-lg shadow-lg"
          >
            <img
              src="/persyaratan-beasiswa-2.jpg"
              loading="lazy"
              alt="Photo by Martin Sanchez"
              class="w-full h-full object-cover object-center"
            />
          </div>
        </div>

        <div class="md:pt-8 order-2 sm:order-1">
          <p class="text-indigo-500 font-bold text-center md:text-left">
            Persyaratan Umum
          </p>

          <h1
            class="text-gray-800 text-2xl sm:text-3xl font-bold text-center md:text-left mb-4 md:mb-6"
          >
            Beasiswa NTB Stimulan
          </h1>

          <ol class="text-gray-500 list-decimal block pl-[19px]">
            <li>
              Mahasiswa asal NTB yang sedang menempuh jenjang pendidikan
              D1,D2,D3,S1,S2 dan S3 pada PTS/PTN.
            </li>
            <li>IPK minimum 2.75.</li>
            <li>Terdaftar sebagai mahasiswa aktif.</li>
            <li>
              Tidak sedang menerima bantuan pendidikan atau beasiswa sejenis
              untuk komponen pendidikan yang sama dari sumber lain.
            </li>
            <li>Melampirkan KTP/Surat Domisili NTB.</li>
            <li>Melampirkan Kartu Tanda Mahasiswa.</li>
            <li>
              Melampirkan Surat Pernyataan Besaran Biaya Kuliah dari Kampus yang
              sudah tervalidasi (Khusus untuk bantuan pendanaan biaya
              penelitian).
            </li>
            <li>
              Melampirkan Surat Rekomendasi dari pembimbing yang sudah
              tervalidasi (Khusus untuk bantuan pendanaan biaya penelitian).
            </li>
            <li>
              Melampirkan Proposal dan RAB Penelitian yang disetujui oleh
              pembimbing yang sudah tervalidasi (Khusus untuk pembiayaan dana
              penelitian).
            </li>
            <li>
              Melampirkan Surat Pernyataan tidak menerima beasiswa sejenis yang
              bertanda tangan dan bermaterai.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <FooterSection />
</Layout>
