---
import Header from "../../components/react-header/Header";
import Layout from "../../layouts/Layout.astro";
import FooterSection from "../../components/FooterSection.astro";
import InformasiTerbaru from "../../components/react-informasi/InformasiTerbaru.jsx";
// import contentful from "contentful";

// const client = contentful
//   .createClient({
//     space: "t4ogu3wr0yrv",
//     environment: "master",
//     accessToken: "kNh7mQ055vH1CaHZmqGo6MgFjsSTYD74sQjBBVZE0cQ",
//   })
//   .getEntries({
//     content_type: "beritaDanKegiatan",
//     limit: 8,
//   });
// const items = await client.then((res) => res.items);
---

<Layout title="Informasi Terbaru Tentang Beasiswa NTB">
  <div></div>
  <div class="bg-white border">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <Header client:load />
    </div>
  </div>
  <div class="bg-white">
    <div class="flex bg-blue-900 justify-center py-5 relative overflow-hidden">
      <img
        src="/sprinkle1.svg"
        alt="background"
        class="absolute w-full -top-2"
      />
      <div class="italic font-bold text-center text-white text-xl relative">
        Informasi Seputar Beasiswa NTB
      </div>
    </div>
    <InformasiTerbaru client:load />
    <!-- <div class="bg-white pt-10 lg:pt-20">
      <div class="max-w-screen-2xl px-4 md:px-8 mx-auto pb-10 lg:pb-20">
        <div
          class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 md:gap-6 xl:gap-8"
        >
          {
            items.map((item: any) => (
              <a
                href={`https://lppntb.com/berita-dan-kegiatan/${item.fields.slug}`}
                class="group h-48 md:h-64 xl:h-96 flex flex-col bg-gray-100 rounded-lg shadow-lg overflow-hidden relative"
                target="_blank"
              >
                <div class="bg-slate-400 mix-blend-multiply absolute inset-0 z-10" />
                <img
                  src={`https://${item.fields.cover.fields.file.url}`}
                  loading="lazy"
                  alt="Photo by Minh Pham"
                  class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200"
                />

                <div class="bg-gradient-to-t from-gray-800 md:via-transparent to-transparent absolute inset-0 pointer-events-none" />

                <div class="relative p-4 mt-auto z-20">
                  <span class="block text-gray-200 text-sm">July 19, 2021</span>
                  <h2 class="text-white text-xl font-semibold transition duration-100 mb-2">
                    {item.fields?.judul.substr(0, 60) + "..."}
                  </h2>

                  <span class="text-blue-300 font-semibold">Selengkapnya</span>
                </div>
              </a>
            ))
          }
        </div>
      </div>
    </div> -->
  </div>
  <FooterSection />
</Layout>
