<div class="bg-gray-900">
  <footer class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="flex justify-center text-center pt-10 lg:pt-12 mb-16">
      <div class="col-span-full lg:col-span-2">
        <!-- logo - start -->
        <div class="lg:-mt-2 mb-4">
          <a
            href="/"
            class="inline-flex items-center text-gray-100 text-xl md:text-2xl font-bold gap-2"
            aria-label="logo"
          >
            <img src="/logo.png" alt="logo-beasiswa" class="w-5" />
            Beasiswa NTB
          </a>
        </div>
        <!-- logo - end -->

        <p class="text-gray-400 sm:pr-8 mb-6 w-4/4 sm:w-3/4 mx-auto">
          Beasiswa NTB merupakan program pengiriman 1000 Cendekia Gemilang,
          dimana putra dan putri Nusa Tenggara Barat yang berprestasi akan
          dikirim dan dibiayai ke luar negeri maupun dalam negeri untuk
          melanjutkan studinya, baik itu untuk jenjang S1, S2 maupun S3.
        </p>

        <div class="flex gap-4 justify-center">
          <a
            href="https://www.facebook.com/Beasiswa-NTB-506582289755226"
            target="_blank"
            class="text-ble-400 hover:text-gray-500 active:text-gray-600 transition duration-100"
          >
            <svg
              viewBox="0 0 64 64"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              class="text-white w-10 h-10"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 32C0 14.3269 14.3269 0 32 0C49.6731 0 64 14.3269 64 32C64 49.6731 49.6731 64 32 64C14.3269 64 0 49.6731 0 32ZM32 16C40.8 16 48 23.2 48 32C48 40 42.2 46.8 34.2 48V36.6H38L38.8 32H34.4V29C34.4 27.8 35 26.6 37 26.6H39V22.6C39 22.6 37.2 22.2 35.4 22.2C31.8 22.2 29.4 24.4 29.4 28.4V32H25.4V36.6H29.4V47.8C21.8 46.6 16 40 16 32C16 23.2 23.2 16 32 16Z"
              ></path>
            </svg>
          </a>
          <a
            href="https://www.instagram.com/beasiswantb/"
            target="_blank"
            class="text-ble-400 hover:text-gray-500 active:text-gray-600 transition duration-100"
          >
            <svg
              viewBox="0 0 64 64"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              class="text-white w-10 h-10"
            >
              <path
                d="M32 37.6C29 37.6 26.4 35.2 26.4 32C26.4 29 28.8 26.4 32 26.4C35 26.4 37.6 28.8 37.6 32C37.6 35 35 37.6 32 37.6Z"
              ></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M38.8 18.4H25.2C23.6 18.6 22.8 18.8 22.2 19C21.4 19.2 20.8 19.6 20.2 20.2C19.7252 20.6748 19.5009 21.1495 19.2298 21.7234C19.1583 21.8746 19.0834 22.0332 19 22.2C18.9691 22.2928 18.9333 22.3904 18.895 22.495C18.6858 23.0667 18.4 23.8475 18.4 25.2V38.8C18.6 40.4 18.8 41.2 19 41.8C19.2 42.6 19.6 43.2 20.2 43.8C20.6748 44.2748 21.1496 44.4991 21.7234 44.7702C21.8748 44.8417 22.033 44.9165 22.2 45C22.2928 45.0309 22.3904 45.0667 22.495 45.1049C23.0667 45.3142 23.8475 45.6 25.2 45.6H38.8C40.4 45.4 41.2 45.2 41.8 45C42.6 44.8 43.2 44.4 43.8 43.8C44.2748 43.3252 44.4991 42.8505 44.7702 42.2766C44.8417 42.1253 44.9165 41.9669 45 41.8C45.0309 41.7072 45.0667 41.6096 45.105 41.505C45.3142 40.9333 45.6 40.1525 45.6 38.8V25.2C45.4 23.6 45.2 22.8 45 22.2C44.8 21.4 44.4 20.8 43.8 20.2C43.3252 19.7252 42.8505 19.5009 42.2766 19.2298C42.1255 19.1584 41.9667 19.0833 41.8 19C41.7072 18.9691 41.6096 18.9333 41.505 18.895C40.9333 18.6858 40.1525 18.4 38.8 18.4ZM32 23.4C27.2 23.4 23.4 27.2 23.4 32C23.4 36.8 27.2 40.6 32 40.6C36.8 40.6 40.6 36.8 40.6 32C40.6 27.2 36.8 23.4 32 23.4ZM42.8 23.2C42.8 24.3046 41.9046 25.2 40.8 25.2C39.6954 25.2 38.8 24.3046 38.8 23.2C38.8 22.0954 39.6954 21.2 40.8 21.2C41.9046 21.2 42.8 22.0954 42.8 23.2Z"
              ></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 32C0 14.3269 14.3269 0 32 0C49.6731 0 64 14.3269 64 32C64 49.6731 49.6731 64 32 64C14.3269 64 0 49.6731 0 32ZM25.2 15.4H38.8C40.6 15.6 41.8 15.8 42.8 16.2C44 16.8 44.8 17.2 45.8 18.2C46.8 19.2 47.4 20.2 47.8 21.2C48.2 22.2 48.6 23.4 48.6 25.2V38.8C48.4 40.6 48.2 41.8 47.8 42.8C47.2 44 46.8 44.8 45.8 45.8C44.8 46.8 43.8 47.4 42.8 47.8C41.8 48.2 40.6 48.6 38.8 48.6H25.2C23.4 48.4 22.2 48.2 21.2 47.8C20 47.2 19.2 46.8 18.2 45.8C17.2 44.8 16.6 43.8 16.2 42.8C15.8 41.8 15.4 40.6 15.4 38.8V25.2C15.6 23.4 15.8 22.2 16.2 21.2C16.8 20 17.2 19.2 18.2 18.2C19.2 17.2 20.2 16.6 21.2 16.2C22.2 15.8 23.4 15.4 25.2 15.4Z"
              ></path>
            </svg>
          </a>
          <a
            href="https://www.youtube.com/channel/UCiwMtRu01J3BRjCgccNNXKg"
            target="_blank"
            class="text-ble-400 hover:text-gray-500 active:text-gray-600 transition duration-100"
          >
            <svg
              viewBox="0 0 64 64"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              class="text-white w-10 h-10"
            >
              <path d="M37.2 32L28.8 27.2V36.8L37.2 32Z"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 32C0 14.3269 14.3269 0 32 0C49.6731 0 64 14.3269 64 32C64 49.6731 49.6731 64 32 64C14.3269 64 0 49.6731 0 32ZM44.4 21.4C45.8 21.8 46.8 22.8 47.2 24.2C48 26.8 48 32 48 32C48 32 48 37.2 47.4 39.8C47 41.2 46 42.2 44.6 42.6C42 43.2 32 43.2 32 43.2C32 43.2 21.8 43.2 19.4 42.6C18 42.2 17 41.2 16.6 39.8C16 37.2 16 32 16 32C16 32 16 26.8 16.4 24.2C16.8 22.8 17.8 21.8 19.2 21.4C21.8 20.8 31.8 20.8 31.8 20.8C31.8 20.8 42 20.8 44.4 21.4Z"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div
      class="text-gray-400 text-sm text-center border-t border-gray-800 py-8"
    >
      © {new Date().getFullYear()} - Beasiswa NTB. All rights reserved.
    </div>
  </footer>
</div>
