<section
  class="min-h-96 h-96 flex justify-center items-center flex-1 shrink-0 bg-gray-100 overflow-hidden shadow-lg relative py-6 md:py-20 xl:py-48"
>
  <img
    src="https://images.unsplash.com/photo-1523050854058-8df90110c9f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
    alt="Landing Foto BRIDA NTB"
    class="w-full h-full object-cover object-center absolute inset-0"
  />
  <div class="bg-blue-600 mix-blend-multiply absolute inset-0"></div>
  <div class="bg-slate-600 mix-blend-multiply absolute inset-0"></div>
  <div class="sm:max-w-xl flex flex-col items-center relative p-4">
    <img src="/logo.png" alt="" />
    <p class="text-white text-lg sm:text-xl text-center mb-4 md:mb-8">
      Pemerintah Provinsi Nusa Tenggara Barat
    </p>
    <div class="mb-8 md:mb-12">
      <h1
        class="text-white text-4xl sm:text-5xl md:text-6xl font-bold text-center"
      >
        Beasiswa NTB
      </h1>
      <p
        class="text-white text-xl sm:text-2xl md:text-3xl font-medium text-center"
      >
        1000 Cendekia
      </p>
    </div>
  </div>
</section>
