<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2
        class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6"
      >
        Jenis Beasiswa NTB
      </h2>

      <p class="max-w-screen-md text-gray-500 md:text-lg text-center mx-auto">
        Beasiswa NTB adalah program unggulan Pemerintah Provinsi Nusa Tenggara
        Barat yang bertujuan untuk meningkatkan kualitas sumber daya manusia
        yang ada di daerah Nusa Tenggara Barat dengan mengirim putra - putri
        terbaik untuk melanjutkan studi ke luar negeri maupun ke dalam negeri.
        <br />
        Berikut merupakan jenis - jenis dari Beasiswa NTB :
      </p>
    </div>
    <!-- text - end -->

    <div
      class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4 md:gap-6 xl:gap-8"
    >
      <!-- article - start -->
      <a
        href="/jenis-beasiswa/#beasiswa-ntb-umum"
        class="group h-48 md:h-64 xl:h-96 flex flex-col bg-gray-100 rounded-lg shadow-lg overflow-hidden relative"
      >
        <img
          src="/beasiswa1.webp"
          loading="lazy"
          alt="Photo by Agung Dwitatwa"
          class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200"
        />

        <div
          class="bg-gradient-to-t from-gray-800 md:via-transparent to-transparent absolute inset-0 pointer-events-none"
        >
        </div>

        <div class="relative p-4 mt-auto">
          <span class="block text-gray-200 text-sm">Luar Negeri</span>
          <h2
            class="text-white text-xl font-semibold transition duration-100 mb-2"
          >
            Beasiswa NTB Umum
          </h2>

          <span class="text-blue-300 font-semibold">Selengkapnya</span>
        </div>
      </a>
      <!-- article - end -->

      <!-- article - start -->
      <a
        href="/jenis-beasiswa/#beasiswa-ntb-stimulan"
        class="group h-48 md:h-64 xl:h-96 flex flex-col bg-gray-100 rounded-lg shadow-lg overflow-hidden relative"
      >
        <img
          src="/beasiswa2.webp"
          loading="lazy"
          alt="Photo by Agung Dwitatwa"
          class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200"
        />

        <div
          class="bg-gradient-to-t from-gray-800 md:via-transparent to-transparent absolute inset-0 pointer-events-none"
        >
        </div>

        <div class="relative p-4 mt-auto">
          <span class="block text-gray-200 text-sm">Dalam Negeri</span>
          <h2
            class="text-white text-xl font-semibold transition duration-100 mb-2"
          >
            Beasiswa NTB Stimulan
          </h2>

          <span class="text-blue-300 font-semibold">Selengkapnya</span>
        </div>
      </a>
      <!-- article - end -->

      <!-- article - start -->
      <a
        href="/jenis-beasiswa/#beasiswa-miskin-berprestasi"
        class="group h-48 md:h-64 xl:h-96 flex flex-col bg-gray-100 rounded-lg shadow-lg overflow-hidden relative"
      >
        <img
          src="/beasiswa3.webp"
          loading="lazy"
          alt="Photo by Agung Dwitatwa"
          class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200"
        />

        <div
          class="bg-gradient-to-t from-gray-800 md:via-transparent to-transparent absolute inset-0 pointer-events-none"
        >
        </div>

        <div class="relative p-4 mt-auto">
          <span class="block text-gray-200 text-sm">Dalam Negeri</span>
          <h2
            class="text-white text-xl font-semibold transition duration-100 mb-2"
          >
            Beasiswa Miskin Berprestasi
          </h2>

          <span class="text-blue-300 font-semibold">Selengkapnya</span>
        </div>
      </a>
      <!-- article - end -->
    </div>
  </div>
</div>
