---
import Header from "../../components/react-header/Header";
import Layout from "../../layouts/Layout.astro";
import FooterSection from "../../components/FooterSection.astro";
---

<Layout title="Jenis Beasiswa NTB">
  <div class="bg-white border">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <Header client:load />
    </div>
  </div>
  <div class="bg-white">
    <div class="flex bg-blue-900 justify-center py-5 relative overflow-hidden">
      <img
        src="/sprinkle1.svg"
        alt="background"
        class="absolute w-full -top-2"
      />
      <div class="italic font-bold text-center text-white text-xl relative">
        Jenis - Jenis Beasiswa NTB
      </div>
    </div>
  </div>
  <div id="beasiswa-ntb-umum" class="bg-white lg:pt-20 py-10">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <div class="grid md:grid-cols-2 gap-8 lg:gap-12">
        <div>
          <div
            class="h-64 md:h-auto bg-gray-100 overflow-hidden rounded-lg shadow-lg"
          >
            <img
              src="/jenis-beasiswa-1.jpg"
              loading="lazy"
              alt="Photo by Martin Sanchez"
              class="w-full h-full object-cover object-center"
            />
          </div>
        </div>

        <div class="md:pt-8">
          <p class="text-indigo-500 font-bold text-center md:text-left">
            Luar Negeri
          </p>

          <h1
            class="text-gray-800 text-2xl sm:text-3xl font-bold text-center md:text-left mb-4 md:mb-6"
          >
            Beasiswa NTB Umum
          </h1>

          <p
            class="text-gray-500 sm:text-lg mb-6 md:mb-8 text-justify md:text-left"
          >
            Beasiswa NTB Umum merupakan program pengiriman 1000 Cendekia
            Gemilang, dimana putra dan putri Nusa Tenggara Barat yang
            berprestasi akan dikirim dan dibiayai ke luar negeri untuk
            melanjutkan studinya, baik itu untuk jenjang S1, S2 maupun S3.
          </p>
          <h2
            class="text-gray-800 text-xl sm:text-2xl font-semibold text-center md:text-left mb-2 md:mb-4"
          >
            Kategori Beasiswa NTB Umum
          </h2>

          <p class="text-gray-500 sm:text-lg text-justify md:text-left">
            Beasiswa NTB Umum terdiri dari 3 Kategori, yaitu :
          </p>
          <ol class="text-gray-500 list-decimal block pl-[19px]">
            <li>
              Kategori A <br /> merupakan beasiswa NTB yang dibiayai secara penuh
              (Fully Funded). Komponen yang dibayai pada kategori ini adalah :
              <ol class="list-disc pl-[19px]">
                <li>Tuition Fee</li>
                <li>Living Allowance (LA)</li>
                <li>Settlement Allowance (SA)</li>
                <li>Visa Application Fee</li>
                <li>Health Insurance</li>
                <li>Flight ( Round Trip )</li>
              </ol>
            </li>
            <li>
              Kategori B <br /> merupakan beasiswa NTB yang dibiayai secara sebagian
              (Partial Funded). Komponen yang dibayai oleh LPPNTB pada kategori ini
              adalah salah satu atau sebagian dari Kategori A
            </li>
            <li>
              Kategori C <br /> merupakan beasiswa NTB untuk Short Course, Internship,
              dan program pengembangan diri yang pendanaannya bisa partial funded
              atau fully funded.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div id="beasiswa-ntb-stimulan" class="bg-white py-10">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <div class="grid md:grid-cols-2 gap-8 lg:gap-12">
        <div class="order-1 md:order-2">
          <div
            class="h-64 md:h-auto bg-gray-100 overflow-hidden rounded-lg shadow-lg"
          >
            <img
              src="/jenis-beasiswa-2.jpg"
              loading="lazy"
              alt="Photo by Martin Sanchez"
              class="w-full h-full object-cover object-center"
            />
          </div>
        </div>
        <div class="md:pt-8 order-2 md:order-1">
          <p class="text-indigo-500 font-bold text-center md:text-left">
            Dalam Negeri
          </p>

          <h1
            class="text-gray-800 text-2xl sm:text-3xl font-bold text-center md:text-left mb-4 md:mb-6"
          >
            Beasiswa NTB Stimulan
          </h1>

          <p
            class="text-gray-500 sm:text-lg mb-6 md:mb-8 text-justify md:text-left"
          >
            Beasiswa Stimulan (BS) adalah bantuan dana parsial bagi
            penyelenggara pendidikan di NTB, dan mahasiswa NTB pada PTS/PTN di
            Indonesia yang memenuhi persyaratan penerima bantuan. Beasiswa
            Stimulan (BS) terbagi dalam dua kategori bantuan yaitu
            <strong>Beasiswa Stimulan-Unggulan (BS-U)</strong> dan <strong
              >Beasiswa Stimulan-Kerjasama (BS-K)</strong
            >.
          </p>
          <p
            class="text-gray-500 sm:text-lg mb-6 md:mb-8 text-justify md:text-left"
          >
            Calon penerima beasiswa adalah mahasiswa/siswa ongoing asal NTB pada
            PTS/PTN yang membutuhkan bantuan stimulan dana pendidikan secara
            parsial, sedang menempuh Pendidikan pada Program Studi unggulan, dan
            memenuhi persyaratan yang ditentukan.
          </p>

          <h2
            class="text-gray-800 text-xl sm:text-2xl font-semibold text-center md:text-left mb-2 md:mb-4"
          >
            Komponen Pembiayaan
          </h2>

          <p
            class="text-gray-500 sm:text-lg mb-6 md:mb-8 text-justify md:text-left"
          >
            Komponen dan besaran pembiayaan untuk Beasiswa Stimulan ditetapkan
            setiap tahun berdasarkan kriteria bantuan pendidikan oleh Gubernur.
            Calon penerima Beasiswa Stimulan dapat memilih salah satu dari
            kategori beasiswa yang telah ditetapkan pada saat pendaftaran.
            Penyaluran dana pendidikan bagi yang lolos seleksi diberikan
            berdasarkan kemampuan keuangan Daerah.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="beasiswa-miskin-berprestasi" class="bg-white py-10 pb-20">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <div class="grid md:grid-cols-2 gap-8 lg:gap-12">
        <div>
          <div
            class="h-64 md:h-auto bg-gray-100 overflow-hidden rounded-lg shadow-lg"
          >
            <img
              src="/jenis-beasiswa-3.jpg"
              loading="lazy"
              alt="Photo by Martin Sanchez"
              class="w-full h-full object-cover object-center"
            />
          </div>
        </div>

        <div class="md:pt-8">
          <p class="text-indigo-500 font-bold text-center md:text-left">
            Dalam Negeri
          </p>

          <h1
            class="text-gray-800 text-2xl sm:text-3xl font-bold text-center md:text-left mb-4 md:mb-6"
          >
            Beasiswa Miskin Berprestasi
          </h1>

          <p class="text-gray-500 sm:text-lg mb-6 md:mb-8">
            BMB NTB ditujukan bagi masyarakat asal NTB yang miskin dan/atau
            berprestasi akademik atau non akademik pada jenjang pendidikan D1,
            D2, D3, atau S1 pada PTS di dalam Provinsi NTB.
          </p>
          <p class="text-gray-500 sm:text-lg mb-6 md:mb-8">
            PTS penyelenggara BMB NTB adalah PTS yang terpilih berdasarkan
            persebaran demografi pada Kabupaten/Kota, dan memiliki Program Studi
            unggulan sebagai sasaran pembangunan daerah. Program Studi unggulan
            dan besaran dana BMB NTB pada masing-masing PTS ditetapkan dalam
            Perjanjian Kerja Sama (PKS) dengan mengikuti ketersediaan anggaran
            keuangan Daerah.
          </p>

          <h2
            class="text-gray-800 text-xl sm:text-2xl font-semibold text-center md:text-left mb-2 md:mb-4"
          >
            Proses Seleksi
          </h2>

          <p class="text-gray-500 sm:text-lg mb-6 md:mb-8">
            Seleksi mahasiswa baru BMB NTB diselenggarakan oleh PTS berdasarkan
            kriteria KIP KULIAH / Bidikmisi tanpa mewajibkan KIP. KIP dapat
            digantikan dengan Surat Keterangan Miskin. Kuota mahasiswa yang
            diterima oleh PTS ditentukan di dalam PKS.
          </p>
        </div>
      </div>
    </div>
  </div>
  <FooterSection />
</Layout>
